<% provide(:title, "Log in") %>


<div class="row", id="login">

	<div class="col-md-3 col-md-offset-5 panel panel-primary" style="margin-top:80px">
	
	<h3>Log in</h3> 
	<hr>
 
      <%= simple_form_for(:session, url: login_path) do |f| %>

      <%= f.input :email, placeholder: "user@domain.com", autofocus:true, class: 'form-control' %>
      <%= f.input :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.button :submit, "Log in", class: "btn btn-primary" %>

    <% end %>
  
  		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
  

	</div>

 </div>

