<% content_for :title do %>My Resume<% end %>


 
 	<div class="panel panel-primary">
	<h3>Let's work together.</h3>
	<hr>
	<%= simple_form_for @contact do |f| %>
		<%= f.input :name, autofocus:true, class: 'form-control' %>
		<%= f.input :email, class: 'form-control' %>
		<%= f.input :content, as: :text, class: 'form-control' %>
		<%= f.button :submit, 'Send', class: 'btn btn-primary' %>
	<% end %>
<p></p>
	</div>

</section>

</div>
