<% content_for :title do %>My Resume<% end %>
<header class="logo-box back-logo logo fore-logo"></header>
<section class="content">
    <article>
      <h1>ABOUT</h1>
      <hr>
      <p>A recent graduate of the B.Sc. In Finance at San Francisco State University, with proven experience in web and database development. Specializes in accomplishing assignments with interpersonal, multitasking and communication skills. Now seeking an intern opportunity to maximize my skills in programming.
      </p>
        
    </article>
  </section>

 
 	<div class="panel panel-primary">
	<h3>Let's work together.</h3>
	<hr>
	<%= simple_form_for @contact do |f| %>
		<%= f.input :name, autofocus:true, class: 'form-control' %>
		<%= f.input :email, class: 'form-control' %>
		<%= f.input :content, as: :text, class: 'form-control' %>
		<%= f.button :submit, 'Send', class: 'btn btn-primary' %>
	<% end %>
<p></p>
	</div>

</section>

</div>
